# Node dependencies
node_modules/
.pnpm-store/

# Build artifacts
dist/
dist-ssr/
*.local
Binaries/
Build/
Saved/

# Packaged games
*/WindowsNoEditor/
*/LinuxNoEditor/
*/MacNoEditor/

# Configuration / Intermediate
.Config/
Intermediate/

# Editor & OS files
.vscode/
.idea/

# Visual Studio
*.VC.db
*.VC.VC.opendb
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.ntvs*
*.njsproj
*.sw?

# Rider
*.DotSettings.user
*.pidb
*.userprefs

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Icon?

# Logs
logs/
*.log
Saved/Logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

